---
name: Test macOS arm64

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 1
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '>=1.24.x'
    - name: Test
      run: make release
