---
name: Test Generate

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 1
    - uses: actions/cache@v4
      name: Cache unicode
      with:
        path: ${{ github.workspace }}/internal/gen/gentables/DATA
        key: ${{ runner.os }}-data-${{ hashFiles('${{ github.workspace }}/**/*.txt') }}
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '>=1.24.x'
    # Test the gen package
    - name: Test Gen
      run: make test
      working-directory: ./internal/gen
    # Vet the gen package
    - name: Vet Gen
      run: make vet
      working-directory: ./internal/gen
    # Test that the generated tables are up-to-date
    - name: Test Generate
      run: make testgenerate
