# Test on 386 to make the logic for platforms that
# we do not have assembly implementations for works.
---
name: Test GOARCH 386

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 1
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '>=1.24.x'
    - name: Test
      shell: bash
      run: |
        GOARCH=386 make env
        GOARCH=386 make test
